* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: black;
    height: 100%;
  }

 .index-title {
  position: relative;
  text-align: center;
  font-size: 30px;
  color: white;
  margin: 40px auto;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  
 }
 
 .content-container {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: calc(100vh - 220px);
   padding: 0 20px 0 0;
 }

 .content-right {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  border: 2px solid white;
}

.right-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  border-bottom: 2px solid white;
}

.right-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.selection-container
{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 15%;
  background-color: black;
}

.tSelect {
  font-size: 14px;
  margin-right: 20px;
}

.gSelect {
  font-size: 14px;
  margin-right: 20px;
}

.graph-container {
  height: 85%;
}

#top-graph {
  width: 100%;
  height: 100%;
  background-color: #707474;
}

#bottom-graph {
  width: 100%;
  height: 100%;
  background-color: #707474;
}

.bar:hover {
  fill: #00FECA;
}

.arc path:hover{
  fill: #00FECA;
}

.content-left {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 100%;
}

#map {
  width: 58%;
  height: 100%; 
  transform: rotate(0.45deg);
  margin: 0 auto;
}

.data-box{
  width: 30%;
  height: auto;
  margin: 0 20px 0 20px; 
}

.data-box-top {
  border: 2px solid white;
}

.data-box-bottom {
  border: 2px solid white;
}

.content {
  color: white;
  margin: 15px;
}

.data-region {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 18px;
}


.content h3 {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.content h4 {
  margin: 10px 0 10px 0;
  font-size: 15px;
}

.content p {
  margin-bottom: 5px;
  font-size: 13px;
}

.content span {
  float: inline-end;
  padding-right: 10px;
}

#map path {
  stroke: white;
}

#map line{
  fill: black;
}

#map path:hover {
  fill:#404040;
  cursor: pointer;
}

#cmap {
  position: absolute;
  left: 400px;
  z-index: 1;
}

#cmap img {
  width: 150px;
}


#cmap img:hover {
  cursor: pointer;
  background-color:  #2e2e2e;
}

#CAN630 {
  fill: lightskyblue;
}

#CAN631 {
  fill: pink;
}

#CAN632 {
  fill: greenyellow;
}

#CAN633 {
  fill: blue;
}

#CAN634 {
  fill: rgb(224, 58, 224);
}

#CAN635 {
  fill: yellow;
}

#CAN636 {
  fill: #00ff62;
}

#CAN682 {
  fill: rgb(0, 255, 0);
}

#CAN683 {
  fill: orange;
}

#CAN684 {
  fill: rgb(0, 217, 255);
}

#CAN685 {
  fill: blue;
}

#CAN686 {
  fill: #3fada8;
}

#CAN687 {
  fill: red;
}

  
